* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

h1 {
  margin-left: 20px;
  padding-top: 20px;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  animation-name: shiftFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  padding-right: 20px;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(-90deg, rgb(252, 254, 255) 0%, transparent 95%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#project-section {
  height: 80vh;
  width: 100%;
  background-color: aliceblue;
  margin-bottom: 300px;
  margin-left: 5px;
}

#accounts-section {
  height: 50vh;
  width: 100%;
  background-color: rgb(143, 143, 218);
  color: rgb(252, 254, 255);
}

#project-section-title {
  padding: 20px;
  padding-left: 30px;
  font-size: 2rem;
}

#accounts-section-title {
  padding: 20px;
  padding-left: 30px;
  font-size: 2rem;
  text-align: center;
}

#gmail-icon {
  border-radius: 17px;
}

#contacts-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

#welcome-section-title {
  animation-name: showFromLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

#github-icon {
  border-radius: 50%;
}

.blue-box {
  height: 100%;
  width: 100%;
  background-color: rgb(184, 209, 230);
}

.projects-container {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-tile {
  padding: 10px;
}

.project-tile > img {
  width: 95%;
  border-radius: 10px;
  border: 2px solid;
}

.project-tile > a {
  display: block;
  text-align: center;
}

.welcome-section-box {
  background: linear-gradient(
    to right,
    rgb(143, 143, 218),
    rgb(184, 209, 230),
    aliceblue
  );
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.account-icon {
  height: 100px;
}

.account-icon:hover {
  box-shadow: 0px 0px 5px 5px black;
}

.project-link {
  font-size: 1.5rem;
}

.navbar-link {
  font-size: 1.3rem;
}

.navbar-link:link {
  color: rgb(143, 143, 218);
}

.navbar-link:hover {
  transform: translateX(-10px);
  color: #0e1454;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.project-screenshot:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

@keyframes showFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen {
}
